<ion-view hide-tabs='true' id='my_security'>
  <!--   <header class="cjc_title_bg">
        <div class="tc df">
            <div class="cjc_search_back">
                <a href="javascript:history.go(-1)" class="button-retrun ion-ios-arrow-left color33"></a>
            </div>
            <div class="df1 f34 lh88">安全中心</div>
            <div class="lh88 f28 cjc_bank_add"></div>
        </div>
    </header> -->
     <gl-header title="安全中心"></gl-header>
    <section class="scrolltop128 bj">
        <ion-content overflow-scroll="false">
            <ul class="">
                <li class="pd20" ui-sref="tab.tab_accountProtect">
                   <div class="list_box">
                       <div class="account">帐号保护</div>
                       <div class="open_vo">开启帐号保护后，在其他设备登录，需验证</div>
                       <div class="ion"><i class="icon ion-chevron-right"></i></div>
                   </div>
                </li>
                <li class="pd20" ui-sref="tab.tab_modifyLoginPwd">
                   <div class="list_box">
                       <div class="account">修改密码</div>
                       <div class="open_vo">定期修改密码，保护帐户安全</div>
                       <div class="ion"><i class="icon ion-chevron-right"></i></div>
                   </div>
                </li>
                <!-- <li class="pd20" ui-sref="tab.tab_modifyPayPwd">
                   <div class="list_box">
                       <div class="account">支付密码</div>
                       <div class="open_vo">帐户变动时需验证，以确定本人操作</div>
                       <div class="ion"><i class="icon ion-chevron-right"></i></div>
                   </div>
                </li> -->
            </ul>
            <!-- <div class="btn">
                <button class="xia_but f32 colorff">下一步</button>
            </div> -->
        </ion-content>
    </section>
</ion-view>
