<ion-view hide-tabs='true' id='my_surface'>
   <!--  <header class="cjc_title_bg">
        <div class="tc df">
            <div class="cjc_search_back">
                <a href="javascript:history.go(-1)" class="button-retrun ion-ios-arrow-left color33"></a>
            </div>
            <div class="df1 f34 lh88">免密金额</div>
            <div class="lh88 f28 cjc_bank_add"></div>
        </div>
    </header> -->
     <gl-header title="免密金额"></gl-header>
    <section class="scrolltop128 bj">
        <ion-content overflow-scroll="false" class="has-header">
            <ul class="information_list cb box20">
                <li class="item_box p0-24 bgff bor-bot">
                    <label class="hdq_ck">
                        <div class="tc"><input type="checkbox"/></div>
                        <div class="f30 colorfe">200/笔</div>
                        <div class="pdt icons bImg"></div>
                    </label>
                </li>
                <li class="item_box p0-24 bgff bor-bot">
                    <label class="hdq_ck">
                        <div class="tc"><input type="checkbox"/></div>
                        <div class="f30 color33">500/笔</div>
                        <div class="pdt icons bImg"></div>
                    </label>
                </li>
                <li class="item_box p0-24 bgff bor-bot">
                    <label class="hdq_ck">
                        <div class="tc"><input type="checkbox"/></div>
                        <div class="f30 color33">800/笔</div>
                        <div class="pdt icons bImg"></div>
                    </label>
                </li>
                <li class="item_box p0-24 bgff bor-bot">
                    <label class="hdq_ck">
                        <div class="tc"><input type="checkbox"/></div>
                        <div class="f30 color33">1000/笔</div>
                        <div class="pdt icons bImg"></div>
                    </label>
                </li>
            </ul>
        </ion-content>
    </section>
</ion-view>
