<ion-view hide-tabs='true' id='my_dense'>
   <!--  <header class="cjc_title_bg">
        <div class="tc df">
            <div class="cjc_search_back">
                <a href="javascript:history.go(-1)" class="button-retrun ion-ios-arrow-left color33"></a>
            </div>
            <div class="df1 f34 lh88">小额免密</div>
            <div class="lh88 f28 cjc_bank_add"></div>
        </div>
    </header> -->
    <gl-header title="小额免密"></gl-header>
    <section class="scrolltop128 bj">
        <ion-content overflow-scroll="false" class="has-header">
            <ul class="information_list cb box20">
                <li class="item_box1 p0-24 bgff bor-bot">
                    <span class="fl f30 color33">小额免密</span>
                    <div class="fr mt16">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" checked="" ng-model="pushChecked.checked">
                            <a class="track">
                                <div class="handle"></div>
                            </a>
                        </label>
                    </div>
                </li>
                <li class="box20" ui-sref="tab.my_surface">
                    <div class="item_box p0-24 bgff bor-bot">
                        <span class="fl f30 color33">免密金额</span>
                        <div class="fr mt33"><i class="icon ion-chevron-right"></i></div>
                        <span class="fr f26 coloraa">200/笔</span>
                    </div>
                </li>
            </ul>
        </ion-content>
    </section>
</ion-view>
