<div id="tab_store_madal">
    <div class="header" style="z-index: 9999;position: relative">
        <span class="back" ng-click="cancel()"><i></i></span>
        <span >{{storeName}}</span>
        <span class="back"></span>
        <div style="clear: both">　</div>
    </div>
    <iframe ng-src="{{myURL}}"  frameborder="0" width="100%" height="100%" style="position: absolute;top: 0;left: 0"></iframe>
    <!--<div ng-class="{true: 'map-box', false: 'map-box transits-box'}[isTransits]">-->
        <!--<div class="map">-->
            <!--<div id="allmap"></div>-->
            <!--<div ng-class="{true: 'options show-options', false: 'options'}[isShowOptions]">-->
                <!--<span class="all" ng-click="toggleShowOptions()"></span>-->
                <!--<span class="transits" ng-click="transits()"></span>-->
                <!--<span class="driving" ng-click="driving()"></span>-->
                <!--<span class="walk" ng-click="walk()"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rs-map">-->
            <!--<div id="r-result"></div>-->
        <!--</div>-->
    <!--</div>-->
</div>


