<ion-view hide-tabs="" id='tab_store' ng-cloak>
    <header class="store-header">
        <div class="df">
            <div class="title">
                <a ng-click="goBack()"><i></i></a>
                <p class="h4">{{storeInfo.shortName | ellipsisFilter:9}}</p>
            </div>
            <div class="header-option">
                <!--<a href="" ng-click="reportStore()" class="report"><i></i></a>-->
                <a ng-click="CommentStore()" ng-if="isCommentStore" href="" class="message"><i></i></a>
                <a href=""  class="save" ng-class="{true:'saved',false:''}[storeInfo.favorite]" ng-click="saveStore()"><i></i></a>
            </div>
        </div>
    </header>
    <section class="cont">
     <ion-content overflow-scroll="false" lazy-scroll on-scroll="contentScroll()" delegate-handle="tab_store_con">
        <div class="banner">
            <div class="slide-box">
                <ion-slide-box does-continue="true" auto-play="true" show-pager='false' on-slide-changed="slideChange(index)">
                    <ion-slide ng-repeat="imgSrc in storeInfo.images track by $index">
                        <!--<div class="box" tile-img="4/3" tile-src="{{imgSrc}}"><img src="{{imgSrc}}" alt=""></div>-->
                        <div class="box"><img src="{{imgSrc || './img/tab_store/store_bg.png'}}" err-src="./img/tab_store/store_bg.png" alt=""></div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <!--<div class="extra-item" ng-if="storeInfo.specialService.length>0">-->
                <!--<div ng-if="storeInfo.specialService && storeInfo.specialService.indexOf('3') != -1" class="ext-i po"><i></i>POS</div>-->
                <!--<div ng-if="storeInfo.specialService && storeInfo.specialService.indexOf('4') != -1" class="ext-i bx"><i></i>包厢</div>-->
                <!--<div ng-if="storeInfo.specialService && storeInfo.specialService.indexOf('1') != -1" class="ext-i wf"><i></i>WIFI</div>-->
                <!--<div ng-if="storeInfo.specialService && storeInfo.specialService.indexOf('2') != -1" class="ext-i tc"><i></i>停车</div>-->
                <!--<div ng-if="storeInfo.specialService && storeInfo.specialService.indexOf('6') != -1" class="ext-i dz"><i></i>订座</div>-->
                <!--<div ng-if="storeInfo.specialService && storeInfo.specialService.indexOf('5') != -1" class="ext-i by"><i></i>表演</div>-->
            <!--</div>-->
            <div class="info-num">
                <p><span>{{slideDotsIndex}}</span>/{{storeInfo.images?storeInfo.images.length:1}}</p>
            </div>
            <div class="focus-info" ng-click="pay()">
                <p>赠豆&nbsp{{storeInfo.saleRate}}%</p>
                <a href="" ng-class="{true:'active',false:''}[!storeInfo.onlinePay]">买&nbsp单</a>
            </div>
            <!--<div class="banner-info">-->
                <!--<div class="info"><p>消费再返豆<span>{{storeInfo.saleRate}}</span>%</p></div>-->
                <!--<div class="dots"><p>{{slideDotsIndex}}/{{storeInfo.images.length}}</p></div>-->
            <!--</div>-->
        </div>
        <div class="store-info">
            <div class="title bor-bot">
                <div class="name bor-right">
                    <p class="store-name"><a href="#/tab/store_info/{{storeInfo.merchantNo}}">{{storeInfo.shortName  | ellipsisFilter:9}}</a></p>
                    <p ng-if="!storeInfo.onlinePay" style="color: #999999;font-size: .26rem;margin-top: .2rem;">未开通在线支付</p>
                    <div class="dis">
                        <p class="evaluate"><span class="evaluate-score" style="width: {{commentGradeList*20 | gradeFilter}}%"></span></p>
                        <span><{{storeInfoDistances | distanceFilter}}m</span>
                    </div>
                    <p class="time">营业时间：{{storeInfo.businessHours}}</p>
                </div>
                <p class="tel"><a href="" ng-click="showTel()"><i></i></a></p>
            </div>
            <div class="addr bor-bot">
                <div class="addr-info bor-right">
                    <i></i>
                    <p class="info" ng-click="openModal()">{{storeInfo.address}}</p>
                </div>
                <div class="go-there" ng-click="goThere()">
                    <i></i>
                </div>
            </div>
        </div>
        <div class="store-evaluate">
            <div class="title bor-bot">
                <p class="num">综合评价 <span>({{commentGradeList}}分)</span></p>
                <p class="more"><a href="#/tab/comment_list/{{storeInfo.merchantNo}}"><span>共{{commentList.totalCount}}条</span><i></i></a></p>
            </div>
             <div class="eva-list">
                 <div class="item-list bor-bot" ng-if="commentList.list" ng-repeat="item in commentList.list">
                     <div class="info">
                         <span>打分</span>
                         <p class="evaluate">
                             <span style="width: {{20*item.grade | gradeFilter}}%"></span>
                         </p>
                         <p class="tel">{{item.name}}</p>
                     </div>
                     <div class="eva-items">
                         <!--<span ng-repeat="val in item.labels" ng-if="labelsName[val]">{{labelsName[val]}}</span>-->
                         <span ng-repeat="val in item.labels" ng-if="val">{{val}}</span>
                     </div>
                 </div>

             </div>
         </div>
      </ion-content>
    </section>
</ion-view>

