#tab_login{
	background:url(../img/ym_img/bg_c.png) no-repeat;
	background-size:100%;
	*{box-sizing:border-box;}
	.row,.col{padding:0 !important;margin:0 !important;}
	::-webkit-input-placeholder{
		font-size: .26rem;
	}
	.p30{padding: 0 .3rem;}
	.bg{background: rgba(2,19,64,.06);}
	.mb40{margin-bottom:.4rem;}
  	.icon:after{content:"";display: block;background-image: url(../img/ym_img/icon_02.png);background-size: 4rem;}
	.header{
      height: 3.9rem;
      .icon_cross:after{width:.52rem;height:.52rem;display: inline-block;background-position: -2.84rem -2.29rem;margin:.6rem 0 0 .24rem;}                
      .icon_le:after{width:1.44rem;height:1.44rem;display: inline-block;background-position: -2.31rem -.14rem;margin:.7rem 3.05rem .7rem;}                
    }

  	.section{background: url(../img/ym_img/paper_c.png) no-repeat;background-size: 7.3rem;height: 4.5rem;
  		margin:0 .1rem 1.6rem; padding:.3rem .65rem 0 .55rem;border-radius:.1rem;
  		div{height:1.3rem;width:100%;position: relative}
  		input{display:inline-block;width:5.3rem;height:1.2rem;font-size:.3rem;color:#333;padding-top:.4rem;padding-left:.1rem;margin-left:.8rem;}
  		.icon_phone:after{position:absolute;width:.52rem;height:.52rem;display: inline-block;background-position: -2.83rem -2.89rem;top:.55rem;left:.1rem;}
  		.icon_pwd:after{position:absolute;width:.52rem;height:.52rem;display: inline-block;background-position: -3.35rem -1.64rem;top:.55rem;left:.1rem;}
        // .icon_phone_on:after{background-position: -.75rem -.13rem;}
  		// .icon_pwd_on:after{background-position: -.76rem -.93rem;}
  		.icon_cross:after{position:absolute;top:.55rem;right:0;width:.52rem;height:.52rem;display: inline-block;background-position: -2.17rem -2.82rem;}
  		.icon_eye:after{position:absolute;top:.55rem;right:0;width:.52rem;height:.52rem;display: inline-block;background-position: -.09rem -2.32rem;}
  		.icon_eye_on:after{background-position: -.81rem -2.32rem;}
      span{position: absolute;color:#29adfd;width:1.5rem;padding-top:.4rem;height:.8rem;}
      span:first-child{left:.16rem;}
      span:last-child{text-align: right;right:0.05rem;}
      
  	}

  	.footer{
  		margin:0 .3rem;
      a{width:6.9rem;}
  	}
    .toRegister{display: block;width:1.2rem;line-height: 1rem;position: absolute;bottom:0.9rem;left: 50%;margin-left: -0.6rem;opacity: .8;}
   .cjc_title{color: #fff;opacity: .8;    position: absolute; top: 0.7rem; left: 41%;}
   .cjc_titleR{color: #fff;opacity: .8;    position: absolute; top: 0.7rem; right: .28rem;}
}
