#mine_failToAddBankCard{
  .bgf5{
    background: #F5F5F5;
  }
  .mt265{margin-top:2.65rem;}
  .icon_card{
    display: block;
    width:4rem;
    height: 3.1rem;
    margin:0 auto;
    background: url(../img/mine/fail.png) no-repeat;
    background-size: 4rem;
  }
  .tc{text-align: center;}
}
