<ion-view  hide-tabs='true'  id='mine_setPassword' class="bgf4">
	<!-- <header class="df header ">
        <a href="javascript:history.go(-1)" class="w124 icon icon0"></a>
        <div class="df1 f32  tc lh88">设置密码</div>
        <div class="w124"></div>
    </header>
 -->
    <gl-header title="设置密码"></gl-header>
    <section class="section bgff mb40">
    	<div >
    		<input  type="password" 
    				class="bor-bot"
    				maxlength="12" 
    				ng-model="inputData.pwd"
    				placeholder="请输入6-12位字母与数字组合的密码">
    	</div>
    	<div>
    		<input  type="password"
    				maxlength="12"  
    				ng-model="inputData.pwdConfirm"
    				placeholder="请再次输入密码">
    	</div>
    </section>
    <div class="footer p30" ng-click="confirm()">
    	<a class="btnSky br45">确认</a>
    </div>
</ion-view>
