#tab_telModify{
	/*通用样式设置*/
	*{
		box-sizing: border-box;
	}


	::-webkit-input-placeholder{
		color:#ccc;
	}

	/*通用样式设置end*/

	.container{
		width:100%;
		padding:0 0.3rem;
	}
 
	/*header部分*/
	.header{
		width:100%;
		height:1.28rem;
		margin-bottom: 0.24rem;
		text-align: center;
		padding-top:0.4rem;
		font-size: 0.35rem;
		background:#fff;
		.arrow_left{
			display: inline-block;
			width:0.24rem;
			height:0.43rem;
			background: url(../img/ym_img/iconList.png) no-repeat 0 0;
			background-size: 0.46rem;
			margin-top:  0.24rem;
		}
		.title{
			font-size: 0.34rem;
			color:#333;
			height: 0.88rem;
			line-height: 0.88rem;
		}
	}
	/*header部分结束*/

	/*section部分*/
	.section{
		text-align: center;
		height: 2rem;
		padding:0.56rem 0;
		background:#fff;
		p{
			font-size: 0.40rem;
			color:#333;
			margin-bottom: 0.23rem;
		}
		span{
			font-size:0.24rem;
			color:#666;
		}
	}
	/*section部分结束*/

	.text{
		font-size:0.28rem;
		color:#666;
		margin: 0.24rem 0.24rem;
	}

	/*main部分*/
	.main{
		height: 1.8rem;
		padding-left: 0.24rem;
		background:#fff;
		margin-bottom: 0.81rem;
		div{
			height: 50%;
			font-size:0.3rem;
			padding:0.3rem 0;
			color:#333;
		}
		em{
			display: inline-block;
			width:0.5rem;
			height: 0.5rem;
			background: url(../img/ym_img/blueIcon.png) no-repeat 0 0;
			background-size: 2rem;
			margin-top: -0.1rem;
			margin-right: 0.24rem;
		}
		.selected{
			background-position: 0 -0.57rem;
		}		
	}
	/*main部分结束*/

	/*footer部分*/
	.footer{
		.btn_complete{
			display: block;
			width:6.9rem;
			height:0.88rem;
			line-height: 0.88rem;
			margin:0 auto;
			text-align: center;
			color:#fff;
			text-decoration: none;
			font-size: 0.32rem;
			background: #29adfd;
			border-radius: 0.45rem;
		}
	}
	/*footer部分结束*/
}
