<ion-view hide-tabs='true' id='mine_beanfun'>
   <!--  <header class="bor-bot">
        <a class="button-retrun ion-ios-arrow-left color66" onclick="history.go(-1)"></a>
        <span class="f34">我的乐豆</span>
    </header> -->
     <gl-header title="我的乐豆" back="tab.index"></gl-header>
    <div class="des-bar-container">
        <div class="des-bar">
            <p class="f24" ui-sref="tab.tab_ledouExplain">乐豆说明</p>
            <p class="font" ng-bind="(balanceNum || balanceNum == 0) ? balanceNum : '--'"></p>
            <p class="f24">乐豆余额</p>
            <div class="nav-bar">
                <div ng-click="press(0)" ng-class="{'div-select':navNum==0}"><span class="f28" ng-class="{'span-select':navNum==0}">乐豆收入</span></div>
                <div ng-click="press(1)" ng-class="{'div-select':navNum==1}"><span class="f28" ng-class="{'span-select':navNum==1}">乐豆支出</span></div>
            </div>
        </div>
        <div class="gap bor-bot"></div>
    </div>
    <section class="scrolltop360" ng-if="navNum===0">
        <ion-content overflow-scroll="false" lazy-scroll>
            <div class="bean-list" ng-repeat="returnList in returnLists track by $index" attached>
                <div class="detail-box bor-bot">
                    <p class="f30 color33">{{returnList.merchantName || '--'}}<span ng-bind="returnList.operateName"></span></p>
                    <p class="f24 coloraa" ng-bind="returnList.dateTime">2017-03-22 12:12:12</p>
                </div>
                <span class="f34 color66 add font" ng-bind="'+'+returnList.happyCoin+'豆'"></span>
            </div>
            <div class="gap" style="height: .3rem"></div>
            <div class="no-msg tc" ng-if='returnLists.length==0'>
                <img src="img/nomessage.png" alt="" >
                <p class="color66 tc">暂无信息</p>
            </div>
            <ion-infinite-scroll ng-if="noMoreReturn" immediate-check="false" on-infinite="loadMoreReturn()" distance="5%"></ion-infinite-scroll>

        </ion-content>
    </section>
    <section class="scrolltop360" ng-if="navNum===1">
        <ion-content overflow-scroll="true" lazy-scroll>
            <div class="bean-list" ng-repeat="consumptionList in consumptionLists  track by $index" attached>
                <div class="detail-box bor-bot">
                    <p class="f30 color33">{{consumptionList.merchantName || '--'}}<span ng-bind="consumptionList.operateName"></span></p>
                    <p class="f24 coloraa" ng-bind='consumptionList.dateTime'>2017-03-22 12:12:12</p>
                </div>
                <span class="f34 color66 sub font" ng-bind="'-'+consumptionList.happyCoin+'豆'">-10豆</span>
            </div>
            <div class="gap" style="height: .3rem"></div>
            <div class="no-msg tc"  ng-if='consumptionLists.length==0'>
                <img src="img/nomessage.png" alt="">
                <p class="color66 tc">暂无信息</p>
            </div>
            <ion-infinite-scroll ng-if="noMoreConsumption" immediate-check="false" on-infinite="loadMoreConsumption()" distance="5%"></ion-infinite-scroll>
        </ion-content>
    </section>
</ion-view>
