<ion-view hide-tabs='true' id='tab_userDirection' class="bgf4">
<gl-header title="用户指南"></gl-header>
  <section class="section scrolltop128">
    <ion-content overflow-scroll="false" overflow-scroll="false">
      <div class="imgWrapper">
        <img src="./img/ym_img/userDirection1.png" alt="">
        <img src="./img/ym_img/userDirection2.png" alt="">
        <img src="./img/ym_img/userDirection3.png" alt="">
      </div>
      <section class="section bgff">
        <div class="time bor-bot">
          <p class="color22 f36 mb42">客服热线</p>
          <p class="color99 f26">(周一至周五)：09：30 - 18：30</p>
        </div>
        <div class="re" ng-click="showTel()">
          <p class="color29 f32 tel">4000-200-365</p>
          <i class="icon_tel ab"></i>
        </div>
      </section>
  </ion-content>
  </section>
</ion-view>
