<ion-view hide-tabs='true' id='tab_newTelChecking' style="background: #f4f4f4">
	<gl-header title="新手机号校验"></gl-header>
	<main class="main">
		<p>现有手机号{{information.mobilePhone|phoneHide}}</p>
		<span>修改现在手机号将同时改变您的用户名</span>
	</main>

	<div class="text">选择您的现在手机号状态</div>

	<section class="section">
		<div class="row" ng-click="toggle()">
			<div class="col1 col col-70">现手机号依然在使用</div>
			<div class="col2 col col-30">
				<i class="fr" ng-class="{true:'active',false:''}[isActive]"></i>
			</div>
		</div>
	</section>
	<footer class="footer">
		<a href="" class="btn_complete" ng-click="next()">下一步</a>
	</footer>
</ion-view>
