#tab_new_mine {
  background: #f7f7f7;
  .f20{font-size: .2rem;}
  .ls4{letter-spacing: .04rem;}
  .ml9{margin-left: .9rem;}
  .mine-header {
    height: 2.8rem;
    background: -webkit-linear-gradient(left, rgb(79, 189, 255), rgb(33, 180, 255));
    background: linear-gradient(to right, rgb(79, 189, 255), rgb(33, 180, 255));
    padding-top: 0.98rem;
    font-size: 0;
    position: relative;
    .img-box {
      width: 55%;
      display: inline-block;
      vertical-align: top;
      padding-left: 0.52rem;
      p {
        font-size: 0.24rem;
        color: #fff
      }
      img {
        display: block;
        width: 0.94rem;
        height: 0.94rem;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 0.18rem;
      }
    }
    .beanfun-box {
      width: 43.5%;
      display: inline-block;
      vertical-align: top;
      font-size: 0.24rem;
      color: #fff;
      .bean {
        font-size: 0.5rem;
        margin-top: 0.32rem;
        margin-bottom: 0.25rem;
      }
    }
    .news {
      position: absolute;
      right: 0;
      top: 0;
      .icon1:after {
        width: 1rem;
        height: 1rem;
        background: url('../img/mine/bellWhite.png') no-repeat center;
        background-size: 0.5rem 0.5rem;
        margin: 0.31rem 0;
        display: inline-block;
        content: "";
      }
      span {
        width: .2rem;
        height: .2rem;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: .57rem;
        right: .24rem;
        display: none
      }
      span.block {
        display: block
      }
    }
  }
  .cjc_more {
    padding: 0 0.3rem;
    background-color: #fff;
    margin-top: 0.2rem;
    .df {
      .df1 {
        padding: 0.4rem 0 0.3rem 0.6rem;
        position: relative;
        .f30 {
          margin-bottom: 0.2rem;
          font-weight: bold;
          span {
            color: rgb(255, 174, 41);
            margin-left: 0.2rem;
            font-size: 0.3rem;
          }
        }
      }
    }
    .df:last-child {
      .df1 {
        padding: 0.3rem 0 0.3rem 0.6rem;
        //padding: 0.3rem 0 0.3rem 0.6rem;
      }
    }
  }
  .icon:after {
    content: "";
    background-image: url('../img/mine/icon.png');
    background-size: 5rem;
    display: inline-block;
  }
  .icon2:after {
    width: 0.42rem;
    height: 0.42rem;
    background-position: -4rem 0;
    position: absolute;
    left: -0.18rem;
    top: .46rem;
  }
  .fontBold {
    font-weight: 500 !important;
  }
  .icon3:after {
    width: 0.42rem;
    height: 0.42rem;
    background-position: -2rem -1rem;
    position: absolute;
    left: 0;
    top: .4rem;
  }
  .icon4:after {
    width: 0.5rem;
    height: 0.5rem;
    background-position: -1.95rem 0rem;
    position: absolute;
    left: 0;
    top: .34rem;
  }
  .icon5:after {
    width: 0.42rem;
    height: 0.42rem;
    background-position: 0 -1rem;
    position: absolute;
    left: 0;
    top: .3rem;
  }
  .icon6:after {
    width: 0.50rem;
    height: 0.42rem;
    background-position: -1rem -1rem;
    position: absolute;
    left: 0;
    top: .3rem;
  }
  .icon7:after {
    width: 0.50rem;
    height: 0.42rem;
    background-position: -3rem 0;
    position: absolute;
    left: 0;
    top: .39rem;
  }
  .add-bankcard {
    width: 1.1rem;
    height:0.36rem;
    line-height:0.36rem;
    text-align: center;
    color: #ffffff;
    background:rgb(254,84,85);
    border-radius: 1rem;
    font-size:0.22rem;
    position: absolute;
    top:0.02rem;
    right:0.35rem;
    border-bottom-left-radius: 0;
  }
  .hdq_set {
    .iconset:after {
      position: absolute;
      left: 0;
      top: .21rem;
    }
    width: 100%;
    background-color: #fff;
    height: 1.44rem;
    // margin-bottom: 0.4rem;

    .hdq_set_t {
      margin: 0.29rem 0.2rem 0 0.24rem;
    }
    .hdq_set_txt {
      margin-top: 0.38rem;
    }
    .iconset:after {
      content: '';
      display: inline-block;
      background: url("../img/index/set.png") no-repeat;
      background-size: 0.48rem 0.48rem;
    }
    .icon8:after {
      width: 0.48rem;
      height: 0.48rem;
      position: absolute;
      left: 0;
      top: .3rem;
    }
    .hdq_tst {
      margin-top: 0.14rem;
    }
    .hdq_set_git {
      width: 2rem;
      height: 1.44rem;
      line-height: 1.44rem;
      text-align: right;
      margin-right: 0.38rem;
    }
    .font_da {
      font-size: 0.35rem;
      color: #cdcdcd;
    }
  }

  .bill-box {
    height: 3.8rem;
    background-color: #fff;
    .cjc_bill_top {
      width: 6.63rem;
      margin: 0 0.44rem;
      padding: 0.5rem 0 0.5rem 0.3rem;
      position: relative;
      .f30 {
        margin-bottom: 0.13rem;
      }
      .cjc_more_btn {
        width: 1.2rem;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #29adfd;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0.35rem;
        font-size:0.24rem;
      }
      .cjc_more_btn:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #29adfd;
        border-radius: 100px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }

    }
    .df.tc {
      padding: 0 0.3rem 0.38rem;
      text-align: left;
      .fb {
        margin-bottom: 0.2rem;
      }
      .df1 {
        margin-right: 0.3rem;
        background: orange;
        height: 1.6rem;
        padding-top: 0.24rem;
        padding-left: 0.2rem;
        border-radius: 0.14rem;
        .font {
          font-size: 0.34rem;
          color: #fff;
          margin-bottom: 0.44rem;
        }
        .ls2 {
          color: #fff
        }
        .circle {
          width: 0.1rem;
          height: 0.1rem;
          position: absolute;
          right: 0.14rem;
          top: 0.14rem;
          background: url('../img/mine/circle.png') no-repeat center;
          background-size:100% 100%;
        }
        &:first-child {
          background: rgb(77, 183, 247);
          box-shadow: 0 0.1rem 0.3rem 0 rgba(77, 183, 247, 0.5);
        }
        &:nth-child(2) {
          background: rgb(108, 111, 255);
          box-shadow: 0 0.1rem 0.3rem 0 rgba(108, 111, 255, 0.5);
        }
        &:last-child {
          margin-right: 0;
          background: rgb(78, 213, 0);
          box-shadow: 0 0.1rem 0.3rem 0 rgba(78, 213, 0, 0.5);
        }
      }
    }
  }
}