<ion-view hide-tabs='true' id='pay_success_info'>
   <!--  <header class="cjc_title_bg bor-bot">
        <div class="tc df">
            <div class="cjc_search_back"></div>
            <div class="df1 f34 lh88">完成支付</div>
        </div>
    </header> -->
     <gl-header title="完成支付"></gl-header>
    <div class="cjc_payment_middle">
        <i class="icon ion-ios-checkmark-outline"></i>
        <div class="f24">支付成功</div>
        <div class="f28 color33">您己获得 <span class="f50" ng-bind="myCount"></span> 乐豆，可在“首页或我的”查看乐豆余额，下次交易时可直接通过乐豆支付</div>
        <div class="df">
            <div class="cjc_btn" ui-sref="tab.index">返回首页</div>
            <div class="df1" ui-sref="tab.payment_exceptional">打赏员工</div>
        </div>
    </div>
</ion-view>
