#pay_directions{
    background-color: #f4f4f4;
    .cjc_title_bg{width: 100%;height: 0.88rem;box-sizing: initial;line-height: 0.88rem;padding-top: 0.4rem;color: #333;background-color: #fff;
        .lh88{line-height: 0.88rem;}
        .ion-ios-arrow-left:before{color: #333;line-height: 0.88rem;width: 1.1rem;font-size:0.6rem;text-align:center;}
        .w11{width: 1.1rem}
    }
}
