.sprite_background_store_list_1492838091000{background-size:1.72rem 1.26rem;background-image:url(../img/store_list/sprite_store_list_1492838090000.png);}

#store_list,#index_selectShop{font-family:'PingFangSC-Regular';
  &.no-list{background-color: #F4F4F4;}
  input{padding: 0}
  a{color: inherit;text-decoration: none !important;display: inline-block}
  .pingfang{font-family:'PingFangSC-Medium';}
  .pingfang-R{font-family:'PingFangSC-Regular';}
  .clearfix {*zoom: 1;}
  .clearfix:before,
  .clearfix:after {display: table;line-height: 0;content: "";}
  .clearfix:after {clear: both;}
  i{display: inline-block;vertical-align: middle;
    &:after{display: inline-block;vertical-align: middle;}
  }

  .store-list-header{height: 1.38rem;background-color: #29ADFD;line-height: .88rem;position: relative;z-index: 99;padding-top: .5rem;
    .back{width: 0.96rem;padding-left: .24rem;
      i{  background:url('../img/tab_store/back-satreo.png') no-repeat;display:inline-block;
            background-size:0.48rem;height: .48rem;width: .48rem;}
    }
    .head-option{width: .96rem;@extend .clearfix;padding-right: .24rem;
      a{display: block;float: right;line-height: .88rem;
        i{background:url('../img/index/bellNoShadow.png') no-repeat;display:inline-block;
            background-size:0.5rem 0.5rem;height: .5rem;width: .5rem;
          position: relative;
          s{position: absolute;height: .2rem;width: .2rem;display: inline-block;background: red;border-radius: 100%;
            right: .02rem;top: -.03rem;
          }
        }

      }
    }
    .search{line-height: .88rem;flex: 1;-webkit-flex: 1;
      a{width: 100%;line-height: .54rem;height: .54rem;;display: inline-block;background-color: #f4f4f4;border-radius: .54rem;
        color: #aaa;text-align: center;font-size: .24rem;
        i{background-position: -1rem -0.44rem;@extend .sprite_background_store_list_1492838091000;height: .38rem;width: .38rem;
          position: relative;top: -.04rem;left: -.01rem;
        }
      }

    }

  }
  .store-menu{position: relative;z-index: 99;background-color: #fff;
    .menu-box{width: 33.33%;float: left;
      >p{line-height: .8rem;text-align: center;color: #666;font-size: .28rem;
        i{background-position: -0.96rem -0.94rem;@extend .sprite_background_store_list_1492838091000;height: .28rem;width: .28rem;margin-left: .07rem;
          position: relative;top: -.02rem}
        &.show-title{color: #29adfd;
          i{background-position: -0.66rem -0.94rem;@extend .sprite_background_store_list_1492838091000;}
        }
      }
    }
    .store-menu-top{@extend .clearfix;height: .8rem;overflow: hidden;padding:0 .24rem;}
    .classify-list{@extend .clearfix;position: relative;position: absolute;top: 100%;left: 0;width: 100%;background-color: #fff;
      display: none;
      .classify-left{width: 33.33%;max-height: 7.92rem;overflow-y: scroll;
        li{a{height: .88rem;line-height: .88rem;color: #333;font-size: .28rem;text-align: left;padding-left: .24rem;
          display: block;padding-right: .55rem;
          i{position: absolute;width: .55rem;line-height: .88rem;right: 0;top: 0;display: inline-block;height: .88rem;background: none;
            &:after{content: '';background-position: -1rem 0;@extend .sprite_background_store_list_1492838091000;height: .42rem;width: .42rem;  }
          }
        }
          &.active{a{  color:#29adfd;background-color: #f4f4f4;
            i{ &:after{content: '';background-position: -0.44rem -0.5rem;@extend .sprite_background_store_list_1492838091000;} }
          }}
          position: relative;
        }
      }
      .classify-right{width: 66.66%;position: absolute;height: 100%;overflow: scroll;right: 0;top: 0;background-color: #eee;
        li{a{text-align: center;display: block;line-height: .88rem;font-size: .28rem;color: #999;
          i{background-position: 0 -0.5rem;@extend .sprite_background_store_list_1492838091000;height: .42rem;width: .42rem; margin-right: .1rem;display: none;}
        }
          &.active{a{  color:#29adfd;background-color: #f4f4f4;
            i{display: inline-block;}
          }}
        }
      }
    }
    .sort-list{position: relative;position: absolute;top: 100%;left: 0;width: 100%;background-color: #fff; display: none;
      max-height: 7.92rem;overflow-y: scroll;
      li{a{text-align: left;display: block;line-height: .88rem;font-size: .28rem;color: #999;padding-left: .24rem;
        i{background-position: 0 -0.5rem;@extend .sprite_background_store_list_1492838091000;height: .42rem;width: .42rem; margin-right: .1rem;display: none;}
      }
        &.active{a{  color:#29adfd;background-color: #f4f4f4;
          i{display: inline-block;}
        }}
      }
    }
    .show-menu{  display: block;

    }

  }
  .menu-list-bg{position: absolute;width: 100%;height: 100%;z-index: 97;background-color: rgba(0,0,0,.4);
    display: none;
    &.show{display: block;}
  }
  .current-addr{margin: 0 .24rem;height: .6rem;font-size: .24rem;color: #999;line-height: .6rem;@extend .clearfix;

    p.addr{float: left;height: .6rem;line-height: .6rem;  }
    .icon-addr{width: .95rem;text-align: right;float: left;line-height: .6rem;padding-right: .18rem;
      i{background-position: 0 -0.94rem;@extend .sprite_background_store_list_1492838091000;height: .32rem;width: .32rem;}}
    .refresh-addr{width: .5rem;line-height: .6rem;float: right;text-align: right;
      i{background-position: -0.34rem -0.94rem;@extend .sprite_background_store_list_1492838091000;height: .3rem;width: .3rem;
        &.active{
          vertical-align: middle;
          animation: myfirstLoaction 1s;
          -webkit-animation: myfirstLoaction 1s;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
        }
      }
    }
  }
  section{
    .scroll-content{top:2.68rem;z-index: 3}
  }
  .store-items{background-color: #f4f4f4;
    .item-box{    padding: 0.24rem 0.2rem; position: relative;background-color: #fff;
      .item-info{@extend .clearfix;background-color: #f4f4f4;border-radius: .08rem;
        .img-box{width: 62% !important;height: 2.2rem !important;float: left;position: relative;border-radius: .08rem;overflow: hidden;
          .bg{position: absolute;width: 100%;height: .95rem;z-index: 5;
            background: -webkit-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)); /* Firefox 3.6 - 15 */
            background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)); /* 标准的语法 */
          }
          overflow: hidden;img{width: 100%;}
          .title{font-size: .32rem;position: absolute;z-index: 9;top: .2rem;left: .2rem;color: #fff;@extend .pingfang;
          text-shadow: 1px 1px 0 #000}
        }
        .info{width: 37%;float: left;padding-left: .2rem;color: #666;font-size: .28rem;overflow: hidden;
          .distance{margin-top: .36rem;}
          .type{margin-top: .2rem;height: .28rem;overflow: hidden}
          .extra-item{margin-top: .2rem;
            i{height: .28rem;width: .28rem;
              &.po{background-position: -1.44rem -0.9rem;@extend .sprite_background_store_list_1492838091000;}
              &.wf{background-position: -1.44rem 0;@extend .sprite_background_store_list_1492838091000;}
              &.hs{background-position: -1.44rem -0.3rem;@extend .sprite_background_store_list_1492838091000;}
              &.tc{background-position: -1.44rem -0.6rem;@extend .sprite_background_store_list_1492838091000;}
            }
          }
        }
      }
      .extra-info{@extend .clearfix;margin-top: .2rem;padding-bottom: .2rem;
        .evaluate{position: relative;display: inline-block;float: left;;
          width: 1.50rem;height: .27rem;background: url("../img/start-small-d2.png") repeat-x;background-size: 1.5rem 0.24rem;
          span{position: absolute; height: .27rem;background: url("../img/start-small2.png") repeat-x;background-size: 1.5rem 0.24rem;
          }
        }
        .num-price{float: left;color: #666;font-size: .24rem;margin-left: .15rem;white-space:nowrap;}
      }
      .foucs-info{width: 2.4rem;height: .86rem;font-size: .32rem;@extend .pingfang;color: #fff;position: absolute;
        right: 0.2rem;bottom: .2rem;
        background: url("../img/store_list/icon_49.png");text-align: center;
        background-size:2.4rem .86rem ;
        p{line-height: .8rem;
          .sale-rate{font-size: .4rem;}
        }
      }
    }
  }
  .cjc_nosearch_list{
    width: 100%;height: 100%;
    .cjc_nosearch_img{width: 4rem; height: 0.4rem;position: absolute;top: 50%;left: 50%;margin-left: -2rem;margin-top:-2rem; }
  }
}
