<ion-view hide-tabs='true' id='mine_bill_groupPay_detail'>
    <gl-header title="账单详情"></gl-header>
    <div class="money-box">
        <div class="img-box">
            <img ng-src="{{img || 'img/df-u-img.png'}}" err-src='img/df-u-img.png' alt=""><span>{{baseInfo.merchantName}}</span>
        </div>
        <p class="participator">
            <span>￥</span><span>{{baseInfo.money | moneyUnit}}</span>
        </p>
        <p ng-bind="baseInfo.operationName == '退款'?'退款成功':'支付成功'"></p>
    </div>
    <div class="detail-wrapper" style="margin-top:0.2rem;">
        <p class="bor-bot">
            支付单号<span>{{baseInfo.operationName | billPayNoFilter : baseInfo}}</span>
        </p>
    </div>
    <div class="detail-wrapper">
        <p class="bor-bot">
            交易时间<span>{{baseInfo.paymentDate}}</span>
        </p>
    </div>
    <div class="detail-wrapper">
        <p class="bor-bot">
            {{baseInfo.operationName == '退款'?'退款方式':'支付方式'}}<span>{{baseInfo.operationName | substrSceneName : baseInfo}}</span>
        </p>
    </div>
    <div ng-if='baseInfo.operationName==="退款"'>
        <div class="detail-wrapper" style="margin-top:0.2rem;">
            <p class="bor-bot">
                退回现金支付<span>￥{{baseInfo.realMoney | moneyUnit}}</span>
            </p>
        </div>
        <div class="detail-wrapper">
            <p class="bor-bot">
                <i class="icon icon1">抵</i>退回乐豆支付<span style="color: rgb(227, 124, 121)">{{baseInfo.happyCoin | moneyUnit}}豆</span>
            </p>
        </div>
        <div class="detail-wrapper">
            <p class="bor-bot">
                <i class="icon icon2">赠</i>收回消费抵扣<span style="color:rgb(248,169,48)">{{baseInfo.returnHappyCoin | moneyUnit}}豆</span>
            </p>
        </div>
    </div>
    <div ng-if='baseInfo.operationName!=="退款"'>
        <div class="detail-wrapper" style="margin-top:0.2rem;">
            <p class="bor-bot">
                现金支付<span>￥{{baseInfo.realMoney | moneyUnit}}</span>
            </p>
        </div>
        <div class="detail-wrapper">
            <p class="bor-bot">
                <i class="icon icon1">抵</i>乐豆支付<span style="color: rgb(227, 124, 121)">{{baseInfo.happyCoin | moneyUnit}}豆</span>
            </p>
        </div>
        <div class="detail-wrapper">
            <p class="bor-bot">
                <i class="icon icon2">赠</i>赠送乐豆<span style="color:rgb(248,169,48)">{{baseInfo.returnHappyCoin | moneyUnit}}豆</span>
            </p>
        </div>
    </div>
    <div class="detail-wrapper" style="margin-top:0.2rem">
        <p class="bor-bot">
            摘要<span style="color:#aaa">{{baseInfo.operationName}}-{{baseInfo.merchantName}}</span>
        </p>
    </div>
    <div class="detail-wrapper" ng-if="(baseInfo.commentStauts==0 || baseInfo.commentStauts==1) && baseInfo.operationName != '乐抢单'" ng-click="linkDaShang($event,baseInfo)">
        <p class="bor-bot">
            服务员星级评价<em></em>
        </p>
    </div>
    <div class="detail-wrapper" ng-if="comment==0 && baseInfo.operationName != '乐抢单'" ng-click='linkComment(baseInfo.merchantNo)'>
        <p class="bor-bot">
            商家评价<em></em>
        </p>
    </div>
    <div class="detail-wrapper" ng-if="isFinish" ng-click="linkDetail()">
        <p class="bor-bot">
            查看乐抢单详情<em></em>
        </p>
    </div>
    <div class="detail-wrapper" ng-if="isFinish2" ng-click="linkDetail2()">
        <p class="bor-bot">
            查看撤单详情<em></em>
        </p>
    </div>
</ion-view>
